﻿@model Monitor.Model.Categories

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CatId" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
