﻿@model Monitor.Model.Categories

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
