﻿@model Monitor.Model.Categories

@{
    ViewData["Title"] = "Editar";
}

<center><h2 class="h2">Editar</h2></center>

<h4 class="h4">Tipo de Persona</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatId" />
            <div class="form-group">
                <label asp-for="CatDescription" class="control-label label"></label>
                <input asp-for="CatDescription" class="form-control input" />
                <span asp-validation-for="CatDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label label">Área</label>
                <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubId" class="control-label label"></label>
                <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <center><input type="submit" value="Guardar" class="btn btn-secondary" /></center>
            </div>
        </form>
    </div>
</div>

<div>
    <center><a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
