﻿@model IEnumerable<Monitor.Model.Categories>

@{
    ViewData["Title"] = "Tipo de Persona";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Tipo de personas
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" asp-action="Create">Nuevo Tipo</a>
        </p>
        <br />
        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CatDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sub)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sub.SubDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.LastName)
                        </td>
                        <td>
                            @item.CatDate
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.CatId">Editar</a>
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.CatId">Detalles</a>
                            <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.CatId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />