﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<img src="https://monitorblob.blob.core.windows.net/peoplecontainer/personaDetectada_042b8f34-f0a8-11e7-8914-208984b93e4f" />

<img src="~/img/girl-192x192.png" />

<img src="http://www.freeiconspng.com/uploads/team-icon-21.png" />