﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
    
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">PLH</h1>
                    <p class="intro-text">Dote de inteligencia a sus cámaras sin preocuparse de infraestructuras y mida sus datos de forma sencilla.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Acerca de PLH</h2>
            <p>
                PLH es una plataforma web que brinda servicios de análisis de video, de personas y próximamente de objetos, a través de cámaras IP o alguna otra fuente de video que se transmita a través de internet.
            </p>
            <p>
                <a>Fácil instalación</a> | ¡Instálelo a su smartphone,tablet o pc con tan solo un botón!
                <a>Modo offline</a> | ¡Navegue, sin conexión a internet, a los formularios visitados anteriormente!
                <br />
                <a>Notificación de Alarmas</a> | Cree alarmas para detectar personas desconocidas o alguna persona en específico; y envíe notificaciones push a distintos dispositivos.
                <br />
                <a>Fácil visualización de su información</a> | Analíce fácilmente su información como sus reconocimientos o alarmas disparadas por medio de reportes, además puede exportar su información en todo momento.
                <br />
                @*<a>Conexiones de cámaras seguras</a> | Las cámaras se conectan de forma segura a nuestros servidores.
        <br />*@
                <a>Asistente virtual</a> | BOT-CITO es el BOT que lo ayudará a consultar su información de manera rápida! <a>Sólo pregúntele</a> sobre una persona o últimos desconocidos vistos y le mostrará su información de manera rápida!.
                Por ahora BOT-CITO solo funciona con conexión a internet!
                <br />
                <a>Continuo desarrollo</a> | PLH seguirá innovando y agregando nuevas funciones para brindarle mejoras herramientas que serán incluidos en los planes existentes!
                <br />
                <a>¡PAGUE SÓLO POR LO QUE USA!</a> | No requiere pagar cuotas completas, sólo pagué por los reconocimientos registrados, lás cámaras registradas y las personas registradas. <a>Revisar los planes para las tarifas correspondientes.</a>
            </p>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Planes disponibles</h2>
                <p>La moneda de pago es el dólar ($).</p>
                <a class="btn btn-secondary btn-lg">Contratar plan</a>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contáctanos</h2>
            <p> Siéntete libre de contactarnos</p>
            <p>¿Tienes dudas sobre los planes de pago? <a href="mailto:ventas@PLH.com">ventas@perulatinohosting.com</a> </p>
            <p>¿Tienes dudas sobre el funcionamiento de PLH? <a href="mailto:FAQs@PLH.com">FAQs@perulatinohosting.com</a> </p>
            <p>¿Deseas unirte a la familia de PLH? <a href="mailto:empleos@PLH.com">empleos@perulatinohosting.com</a> </p>

            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="#" class="btn btn-secondary btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-secondary btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-secondary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Map Section -->
@*<div id="map"></div>*@