﻿@model Monitor.Model.Subsidiaries

@{
    ViewData["Title"] = "Create";
}

<center><h2 class="h2">Subárea</h2></center>

<h4 class="h4">Nuevo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="ComId" type="hidden" value="@ViewData["ComId"]" />

            <div class="form-group">
                <label asp-for="SubDescription" class="control-label label"></label>
                <input asp-for="SubDescription" class="form-control input" />
                <span asp-validation-for="SubDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubNameLocation" class="control-label label"></label>
                <input asp-for="SubNameLocation" class="form-control input" />
                <span asp-validation-for="SubNameLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubLatitude" class="control-label label"></label>
                <input asp-for="SubLatitude" class="form-control input" />
                <span asp-validation-for="SubLatitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubLongitude" class="control-label label"></label>
                <input asp-for="SubLongitude" class="form-control input" />
                <span asp-validation-for="SubLongitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <center><input type="submit" value="Registrar" class="btn btn-secondary" /></center>
            </div>

        </form>
    </div>
</div>

<div>
    <center> <a class="btn btn-primary" asp-action="Index" asp-route-ComId="@ViewData["ComId"]">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
