﻿@model Monitor.Model.Subsidiaries

@{
    ViewData["Title"] = "Delete";
}

<center><h2 class="h2">Eliminar</h2></center>

<h4 class="h4">¿Estás seguro que deseas elminar @Model.SubDescription?</h4>
<div>
    <h4>Subárea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Com)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Com.ComDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubNameLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubNameLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubLatitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubLatitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubLongitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubLongitude)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubId" />
        <center>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a class="btn btn-primary" asp-route-ComId="@Model.ComId" asp-action="Index">Regresar a la lista</a>
        </center>
    </form>
</div>
