﻿@model Monitor.Model.Subsidiaries

@{
    ViewData["Title"] = "Details";
}

<center><h2 class="h2">Detalles de @Model.SubDescription</h2></center>

<div>
    <h4 class="h4">Subárea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubNameLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubNameLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubLatitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubLatitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubLongitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubLongitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <center>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.SubId">Editar</a>
        <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
    </center>
</div>