﻿@model Monitor.Model.Subsidiaries

@{
    ViewData["Title"] = "Editar subárea";
}

<center><h2 class="h2">Editar @Model.SubDescription</h2></center>

<h4 class="h4">Subárea</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubId" />
            <input type="hidden" asp-for="SubDate" />
            <input type="hidden" asp-for="SubEnabled" />
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="SubDescription" class="control-label label"></label>
                <input asp-for="SubDescription" placeholder="Descripción" class="form-control input" />
                <span asp-validation-for="SubDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Com" class="control-label label"></label>
                <select asp-for="ComId" class="form-control selectpicker input" data-live-search="true"  asp-items="ViewBag.ComId"></select>
                <span asp-validation-for="ComId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubNameLocation" class="control-label label"></label>
                <input asp-for="SubNameLocation" class="form-control input" />
                <span asp-validation-for="SubNameLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubLatitude" class="control-label label"></label>
                <input asp-for="SubLatitude" class="form-control input" />
                <span asp-validation-for="SubLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubLongitude" class="control-label label"></label>
                <input asp-for="SubLongitude" class="form-control input" />
                <span asp-validation-for="SubLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center>   <input type="submit" value="Guardar" class="btn btn-secondary" /></center>
            </div>
        </form>
    </div>
</div>

<div>
    <center><a class="btn btn-primary" asp-action="Index" asp-route-ComId="@Model.ComId">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
