﻿@model IEnumerable<Monitor.Model.Subsidiaries>

@{
    ViewData["Title"] = "Lista de subáreas";
}

<center><h2 class="h2">Subáreas</h2></center>

<p>
    <a asp-action="Create" class="btn btn-secondary" asp-route-ComId="@ViewData["ComId"]">Nueva subárea</a>
</p>

<table class="display nowrap" id="example" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Com)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubNameLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Com.ComDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubNameLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLatitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubLongitude)
                </td>
                <td>@Html.DisplayFor(modelItem=>item.User.FullName)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.SubId" asp-route-ComId="@ViewData["ComId"]">Editar</a>
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.SubId" asp-route-ComId="@ViewData["ComId"]">Detalles</a>
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.SubId" asp-route-ComId="@ViewData["ComId"]">Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<center><a asp-action="Index" asp-controller="Companies" class="btn btn-primary">Regresar a Áreas</a></center> 