﻿<!DOCTYPE html>
<html lang="es-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#317EFB" />
    <meta name="description" content="Monitor Cameras" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="PLH">
    <link rel="manifest" href="~/manifest.json">
    <title>PLH</title>

    <!-- CSS -->
    <link async href="~/dist/vendor.css" rel="stylesheet" asp-append-version="true"/>
    <!-- Custom Fonts -->
    <link await async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link await async href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link await async href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menús <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Inicio</span> PLH
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Acerca de</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Planes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>
                    <li>
                        <a class="page-scroll" asp-area="" asp-controller="Home" asp-action="Dashboard">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy;Perulatinohosting @DateTime.Now.Year</p>
        </div>
    </footer>

    <!--Boostrap jQuery Vendor-->
    <script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>

    <!-- Plugin JavaScript -->
    <script await async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script async await src="~/dist/app.bundle.js" asp-append-version="true"></script>

</body>

</html>