﻿<!DOCTYPE html>
<html lang="es-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#317EFB" />
    <meta name="description" content="Monitor Cameras" />

    <title>@ViewData["Title"] - Monitor</title>

    <link rel="manifest" href="~/manifest.json">

    @*<link await href="~/dist/vendor.css" rel="stylesheet" asp-append-version="true" />
        <link await href="~/css/site.css" rel="stylesheet" />
        <link await href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link await href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />

        <link await rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link await href="https://fonts.googleapis.com/css?family=Lato|PT+Sans+Narrow" rel="stylesheet">
        <link await href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
            <link await href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />

        <link await rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">*@

    <link async href="~/dist/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link async href="~/dist/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link async href="~/dist/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link async href="~/css/sb-admin.css" rel="stylesheet" />
    <link await href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link await href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link await href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link await href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link await href="~/css/site.css" rel="stylesheet" />

    <!-- Bootstrap core JavaScript-->
    <script src="~/dist/vendor/jquery/jquery.js"></script>
    <script src="~/dist/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/dist/vendor/jquery-easing/jquery.easing.js"></script>

    <script await src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script await src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>

    <script await src="~/dist/app.bundle.js" asp-append-version="true"></script>

    <!-- Page level plugin JavaScript-->
    <script await src="~/dist/vendor/chart.js/Chart.js"></script>
    <script await src="~/dist/vendor/datatables/jquery.dataTables.js"></script>
    <script await src="~/dist/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/dist/sb-admin.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/dist/sb-admin-datatables.min.js"></script>
    <script src="~/dist/sb-admin-charts.js"></script>

    @*<script await src="~/dist/vendor.bundle.js" asp-append-version="true"></script>*@
    @*<link await href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />*@


    @*<script await async src="~/dist/bot.bundle.js"></script>*@

    @*<script await src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
        <script await src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
        <script await src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
        <link await href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />

        <script src="~/dist/app.bundle.js" asp-append-version="true"></script>
        <script await async src="~/dist/bot.bundle.js"></script>*@


    @*<script src="~/js/firebase.js"></script>
            <script src="~/js/init.js"></script>
            <script src="~/js/site.js"></script>

        <script await async src="~/js/BotFrameWork.js"></script>*@

    <script await src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script await src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script await src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js "></script>
    <script await src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script await src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js" type="text/javascript"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js" type="text/javascript"></script>*@

    <script await src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js" type="text/javascript"></script>
    <script await src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js" type="text/javascript"></script>
    <script await src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js" type="text/javascript"></script>
    <script await src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js" type="text/javascript"></script>
    <script await src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script await src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js"></script>
    <script await src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->

    @if (User.Identity.IsAuthenticated)
    {

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="navbar-brand" asp-controller="Home" asp-action="Dashboard"><i class="fa fa-eye fa-4"></i> PLH</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Áreas">
                        <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="Index">
                            <i class="fa fa-fw fa-globe"></i>
                            <span class="nav-link-text">Áreas</span>
                        </a>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">
                            <i class="fa fa-fw fa-list"></i>
                            <span class="nav-link-text">Tipo de Persona</span>
                        </a>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" asp-area="" asp-controller="Camaras" asp-action="Index">
                            <i class="fa fa-fw fa-video-camera"></i>
                            <span class="nav-link-text">Cámaras</span>
                        </a>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" asp-area="" asp-controller="Devices" asp-action="Index">
                            <i class="fa fa-fw fa-tablet"></i>
                            <span class="nav-link-text">Dispositivos</span>
                        </a>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" asp-area="" asp-controller="People" asp-action="Index">
                            <i class="fa fa-fw fa-users"></i>
                            <span class="nav-link-text">Personas</span>
                        </a>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" asp-area="" asp-controller="Alarms" asp-action="Index">
                            <i class="fa fa-fw fa-bell"></i>
                            <span class="nav-link-text">Alarmas</span>
                        </a>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" asp-area="" asp-controller="Recognitions" asp-action="Index">
                            <i class="fa fa-fw fa-newspaper-o"></i>
                            <span class="nav-link-text">Reconocimiento</span>
                        </a>
                    </li>

                </ul>

                @*<ul class="navbar-nav sidenav-toggler">
                    <li class="nav-item">
                        <a class="nav-link text-center" id="sidenavToggler">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                </ul>*@

                <ul class="navbar-nav ml-auto">

                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-envelope"></i>
                                <span class="d-lg-none">
                                    Messages
                                    <span class="badge badge-pill badge-primary">12 New</span>
                                </span>
                                <span class="indicator text-primary d-none d-lg-block">
                                    <i class="fa fa-fw fa-circle"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">New Messages:</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <strong>David Miller</strong>
                                    <span class="small float-right text-muted">11:21 AM</span>
                                    <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <strong>Jane Smith</strong>
                                    <span class="small float-right text-muted">11:21 AM</span>
                                    <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <strong>John Doe</strong>
                                    <span class="small float-right text-muted">11:21 AM</span>
                                    <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item small" href="#">View all messages</a>
                            </div>
                        </li>*@

                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-bell"></i>
                                <span class="d-lg-none">
                                    Alerts
                                    <span class="badge badge-pill badge-warning">6 New</span>
                                </span>
                                <span class="indicator text-warning d-none d-lg-block">
                                    <i class="fa fa-fw fa-circle"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">New Alerts:</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span class="text-success">
                                        <strong>
                                            <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                        </strong>
                                    </span>
                                    <span class="small float-right text-muted">11:21 AM</span>
                                    <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span class="text-danger">
                                        <strong>
                                            <i class="fa fa-long-arrow-down fa-fw"></i>Status Update
                                        </strong>
                                    </span>
                                    <span class="small float-right text-muted">11:21 AM</span>
                                    <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span class="text-success">
                                        <strong>
                                            <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                        </strong>
                                    </span>
                                    <span class="small float-right text-muted">11:21 AM</span>
                                    <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item small" href="#">View all alerts</a>
                            </div>
                        </li>*@
                    @await Html.PartialAsync("_LoginPartial")
            
                </ul>
            </div>
        </nav>

    }

    <div class="content-wrapper">

        <div class="container-fluid">

            @RenderBody()

        </div>
        <!-- /.container-fluid-->

        @if (User.Identity.IsAuthenticated)
        {
            <div id="live-chat">

                <header class="clearfix">

                    <a href="#" class="chat-close">x</a>

                    <h4>BOT-CITO</h4>

                    @*<span class="chat-message-counter">3</span>*@

                </header>

                <div class="chat">
                    <div class="chat-history">

                        <div class="chat-message clearfix">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input id="userName" hidden="hidden" value="@User.Identity.Name" />
                                <input id="userId" hidden="hidden" value="@User.Claims.Where(x=>x.Type=="Id").FirstOrDefault().Value" />
                            }
                            <div id="chatbot"></div>
                        </div>
                    </div>

                </div> <!-- end chat -->

            </div> <!-- end live-chat -->
        }

        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Perulatinohosting.com @DateTime.Now.Year</small>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>


        <!-- Logout Modal-->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        @*<script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <!-- Page level plugin JavaScript-->
            <script src="vendor/chart.js/Chart.min.js"></script>
            <script src="vendor/datatables/jquery.dataTables.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin.min.js"></script>
            <!-- Custom scripts for this page-->
            <script src="js/sb-admin-datatables.min.js"></script>
            <script src="js/sb-admin-charts.min.js"></script>*@
    </div>


    @*<script src="~/js/BotFrameWork.js"></script>*@
    @RenderSection("Scripts", required: false)

</body>
</html>