﻿@model Monitor.Models.Devices

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Devices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DevDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DevId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
