﻿@model IEnumerable<Monitor.Models.Devices>

@{
    ViewData["Title"] = "Dispositivos";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Dispositivos
    </div>
    <div class="card-body">

        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DevDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CamDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DevDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CamDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.DevId">Editar</a>
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.DevId">Detalles</a>
                            <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.DevId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>