﻿@model Monitor.Model.Companies

@{
    ViewData["Title"] = "Nueva área";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Área
    </div>
    <div class="card-body">

        <h4 class="h4">Nuevo</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ComDescription" class="control-label label"></label>
                        <input asp-for="ComDescription" placeholder="Descripción" class="form-control input" />
                        <span asp-validation-for="ComDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <center>  <input type="submit" value="Registrar" class="btn btn-secondary" /></center>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <center> <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
