﻿@model Monitor.Model.Companies

@{
    ViewData["Title"] = "Eliminar Área";
}

<center><h2 class="h2">Eliminar</h2></center>

<h4 class="h4">¿Estás seguro que deseas elminar @Model.ComDescription?</h4>
<div>
    <h4 class="h4">Áreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ComId" />
        <center>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
        </center>
    </form>
</div>