﻿@model Monitor.Model.Companies

@{
    ViewData["Title"] = "Detalle Área";
}

<center><h2 class="h2">Detalles de @Model.ComDescription</h2></center>

<div>
    <h4 class="h4">Áreas</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComDate)
        </dd>
    </dl>
</div>
<div>
    <center>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.ComId">Editar</a>
        <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
    </center>
</div>
