﻿@model Monitor.Model.Companies

@{
    ViewData["Title"] = "Editar Área";
}

<center><h2 class="h2">Editar</h2></center> 

<h4 class="h4">Áreas</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComId" />
            <input type="hidden" asp-for="ComDate" />
            <input type="hidden" asp-for="ComEnabled" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="ComDescription" class="control-label label"></label>
                <input asp-for="ComDescription" placeholder="Descripción" class="form-control input" />
                <span asp-validation-for="ComDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center> <input type="submit" value="Guadar" class="btn btn-secondary" /></center>
            </div>
        </form>
    </div>
</div>

<div>
    <center> <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}