﻿@model IEnumerable<Monitor.Model.Companies>

@{
    ViewData["Title"] = "Áreas";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Áreas
    </div>
    <div class="card-body">

        <p>
            <a class="btn btn-secondary" asp-action="Create">Nueva área</a>
        </p>
        <br />
        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ComDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ComDate)
                    </th>
                    <th>@Html.DisplayNameFor(model => model.User)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ComId">Editar</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ComId">Detalles</a>
                        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.ComId">Eliminar</a>
                        <a class="btn btn-secondary" asp-action="Index" asp-controller="Subsidiaries" asp-route-ComId="@item.ComId">Subáreas</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted">Último reconocimiento ayer a las 11:59 PM</div>
</div>

@*<div class="row">
    <div class="col-lg-8">

        <center> <h2 class="h2">Áreas</h2></center>


    </div>
</div>*@