﻿@model Monitor.Model.People

@{
    ViewData["Title"] = "Nueva Persona";
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Persona
    </div>
    <div class="card-body">
       

        <h4 class="h4">Nuevo</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="PerName" class="control-label label"></label>
                        <input asp-for="PerName" class="form-control input" />
                        <span asp-validation-for="PerName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PerLastName" class="control-label label"></label>
                        <input asp-for="PerLastName" class="form-control input" />
                        <span asp-validation-for="PerLastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdentificationDocument" class="control-label label"></label>
                        <input asp-for="IdentificationDocument" class="form-control input" />
                        <span asp-validation-for="IdentificationDocument" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PerEmail" class="control-label label"></label>
                        <input asp-for="PerEmail" class="form-control input" />
                        <span asp-validation-for="PerEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PerPhone" class="control-label label"></label>
                        <input asp-for="PerPhone" class="form-control input" />
                        <span asp-validation-for="PerPhone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PerGender" class="control-label label"></label>
                        <select asp-for="PerGender" class="form-control input" asp-items="ViewBag.PerGender"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="PerDateBirth" class="control-label label"></label>
                        <input asp-for="PerDateBirth" type="date" class="form-control input" />
                        <span asp-validation-for="PerDateBirth" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label label">Áreas</label>
                        <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubId" class="control-label label"></label>
                        <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="CatId" class="control-label label"></label>
                        <select asp-for="CatId" class="form-control input" asp-items="ViewBag.CatId">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="PerPhoto" class="control-label label"></label>
                        <input type="file" name="files" accept="image/*" class="form-control input" />
                        <span asp-validation-for="PerPhoto" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <center><input type="submit" value="Registrar" class="btn btn-secondary" /></center>
                    </div>

                </form>
            </div>
        </div>

        <div>
            <center> <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</div>
</div>