﻿@model Monitor.Model.People

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentificationDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentificationDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDateBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDateBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerPhoto)
        </dt>
        <dd>
            @if (Model.PerPhoto != null)
            {
                <img src="@Model.PerPhoto" asp-append-version="true" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PerId" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>