﻿@model Monitor.Model.People

@{
    ViewData["Title"] = "Detalles de persona";
}

<center><h2 class="h2">Detalles</h2></center>


<div>
    <h4 class="h4">Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentificationDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentificationDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDateBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDateBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerPhoto)
        </dt>
        <dd>
            @if (Model.PerPhoto != null)
            {
                <img src="@Model.PerPhoto" asp-append-version="true" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cat.CatDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>
</div>
<div>
    <center>
        <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model.PerId">Editar</a>
        <a asp-action="Index" class="btn btn-primary">Regresar a la lista</a>
    </center>
</div>
