﻿@model Monitor.Model.People

@{
    ViewData["Title"] = "Editar";
}

<center><h2 class="h2">Editar</h2></center>

<h4 class="h4">Persona</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PerId" />
            <div class="form-group">
                <label asp-for="PerName" class="control-label label"></label>
                <input asp-for="PerName" class="form-control input" />
                <span asp-validation-for="PerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerLastName" class="control-label label"></label>
                <input asp-for="PerLastName" class="form-control input" />
                <span asp-validation-for="PerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationDocument" class="control-label label"></label>
                <input asp-for="IdentificationDocument" class="form-control input" />
                <span asp-validation-for="IdentificationDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerEmail" class="control-label label"></label>
                <input asp-for="PerEmail" class="form-control input" />
                <span asp-validation-for="PerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerPhone" class="control-label label"></label>
                <input asp-for="PerPhone" class="form-control input" />
                <span asp-validation-for="PerPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PerGender" class="control-label label"></label>
                <select asp-for="PerGender" class="form-control input" asp-items="ViewBag.PerGender"></select>
                <span asp-validation-for="PerGender" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="PerDateBirth" class="control-label label"></label>
                <input asp-for="PerDateBirth" type="date" class="form-control input" />
                <span asp-validation-for="PerDateBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label label">Áreas</label>
                <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubId" class="control-label label"></label>
                <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CatId" class="control-label label"></label>
                <select asp-for="CatId" class="form-control input" asp-items="ViewBag.CatId">
                    <option value="">Seleccionar</option>
                </select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <center>  <input type="submit" value="Guardar" class="btn btn-secondary" /></center> 
            </div>
        </form>
    </div>
</div>

<div>
    <center> <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}