﻿@model IEnumerable<Monitor.Model.People>

@{
    ViewData["Title"] = "Personas";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Personas
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" asp-action="Create">Nueva persona</a>
        </p>
        <br />
        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdentificationDocument)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerGender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerDateBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sub)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentificationDocument)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PerEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PerDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PerGender)
                        </td>
                        <td>
                            @if (item.PerDateBirth != null)
                            {
                                @item.PerDateBirth.Value.ToShortDateString()
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cat.CatDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sub.SubDescription)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.PerId">Editar</a>
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.PerId">Detalles</a>
                            <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.PerId">Eliminar</a>
                            <a asp-action="Index" class="btn btn-secondary" asp-controller="PhotoPersons" asp-route-id="@item.PerId">Fotos</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>