﻿@model Monitor.Model.Camaras

@{
    ViewData["Title"] = "Nueva cámara";
}

<center><h2 class="h2">Cámaras</h2></center>

<h4 class="h4">Nuevo</h4>

<hr />


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CamDescription" class="control-label label"></label>
                <input asp-for="CamDescription" class="form-control input" />
                <span asp-validation-for="CamDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CamLongitude" class="control-label label"></label>
                <input asp-for="CamLongitude" class="form-control input" />
                <span asp-validation-for="CamLongitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label label">Área</label>
                <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubId" class="control-label label"></label>
                <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
            </div>

            <div class="form-group">
                <label asp-for="CamSource" class="control-label label"></label>
                <input asp-for="CamSource" class="form-control input" />
                <span asp-validation-for="CamSource" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CamLatitude" class="control-label label"></label>
                <input asp-for="CamLatitude" class="form-control input" />
                <span asp-validation-for="CamLatitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeZone" class="control-label label"></label>
                <select asp-for="TimeZone" class="form-control input" data-live-search="true" asp-items="ViewBag.TimeZone"></select>
            </div>

            <div class="form-group">
                <center> <input type="submit" value="Registrar" class="btn btn-secondary" /></center>
            </div>

        </form>
    </div>
</div>

<div>
    <center><a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}