﻿@model Monitor.Model.Camaras

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Camaras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CamDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamLongitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamLongitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamDate)
        </dt>
        <dd>
            @Model.CamDate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamLatitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamLatitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cam.CamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CamId" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
