﻿@model Monitor.Model.Camaras

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Camaras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CamDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamLongitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamLongitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamLatitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamLatitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cam.CamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>