﻿@model Monitor.Model.Camaras

@{
    ViewData["Title"] = "Editar cámara";
}

<center><h2 class="h2">Editar @Model.CamDescription</h2></center>

<h4 class="h4">Cámara</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CamId" />
            <div class="form-group">
                <label asp-for="CamDescription" class="control-label label"></label>
                <input asp-for="CamDescription" class="form-control input" />
                <span asp-validation-for="CamDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamLongitude" class="control-label label"></label>
                <input asp-for="CamLongitude" class="form-control input" />
                <span asp-validation-for="CamLongitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label label">Área</label>
                <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubId" class="control-label label"></label>
                <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CamSource" class="control-label label"></label>
                <input asp-for="CamSource" class="form-control input" />
                <span asp-validation-for="CamSource" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CamLatitude" class="control-label label"></label>
                <input asp-for="CamLatitude" class="form-control input" />
                <span asp-validation-for="CamLatitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeZone" class="control-label label"></label>
                <select asp-for="TimeZone" class="form-control input" asp-items="ViewBag.TimeZone"></select>
            </div>

            <div class="form-group">
                <center>  <input type="submit" value="Save" class="btn btn-secondary" /></center>
            </div>
        </form>
    </div>
</div>

<div>
    <center> <a asp-action="Index">Back to List</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
