﻿@model IEnumerable<Monitor.Model.Camaras>

@{
    ViewData["Title"] = "Cámaras";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Cámaras
    </div>
    <div class="card-body">

        <p>
            <a class="btn btn-secondary" asp-action="Create">Nueva cámara</a>
        </p>
        <br />
        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CamDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CamDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CamSource)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sub)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeZone)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CamDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CamDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CamSource)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sub.SubDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeZone)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.CamId">Editar</a>
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.CamId">Detalles</a>
                            <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.CamId">Eliminar</a>
                            <a class="btn btn-secondary" asp-route-id="@item.CamId">Enceder / Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</div>
</div>