﻿@model Monitor.Model.Recognitions

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recognitions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecId" class="control-label"></label>
                <input asp-for="RecId" class="form-control" />
                <span asp-validation-for="RecId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerId" class="control-label"></label>
                <select asp-for="PerId" class ="form-control" asp-items="ViewBag.PerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecPath" class="control-label"></label>
                <input asp-for="RecPath" class="form-control" />
                <span asp-validation-for="RecPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecDate" class="control-label"></label>
                <input asp-for="RecDate" class="form-control" />
                <span asp-validation-for="RecDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubId" class="control-label"></label>
                <select asp-for="SubId" class ="form-control" asp-items="ViewBag.SubId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CamId" class="control-label"></label>
                <select asp-for="CamId" class ="form-control" asp-items="ViewBag.CamId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RecEnabled" /> @Html.DisplayNameFor(model => model.RecEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RecPathFull" class="control-label"></label>
                <input asp-for="RecPathFull" class="form-control" />
                <span asp-validation-for="RecPathFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
