﻿@model Monitor.Model.Recognitions

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recognitions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecPathFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecPathFull)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cam.CamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Per)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Per.PerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecId" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
