﻿@model Monitor.Model.Recognitions

@{
    ViewData["Title"] = "Details";
}

<center><h2 class="h2">Detalles de @Model.Per.FullName</h2></center>

<div>
    <h4 class="h4">Áreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecPath)
        </dt>
        <dd>
            <img  src="@Model.RecPath" class="img-responsive"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecPathFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecPathFull)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cam.CamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Per)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Per.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubDescription)
        </dd>
    </dl>
</div>
<div>
   <center><a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
</div>
