﻿@model IEnumerable<Monitor.Model.Recognitions>

@{
    ViewData["Title"] = "Reconocimientos";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Reconocimientos
    </div>
    <div class="card-body">

        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Per)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecPath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sub)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Per.FullName)
                        </td>
                        <td>
                            @if (item.RecPath != null)
                            {
                                <img src="@item.RecPath" class="img-fluid" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cam.CamDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sub.SubDescription)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>