﻿@model Monitor.Model.Alarms

@{
    ViewData["Title"] = "Create";
}

<center><h2 class="h2">Alarmas</h2></center>

<h4 class="h4">Nuevo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AlmDescription" class="control-label label"></label>
                <input asp-for="AlmDescription" class="form-control input" />
                <span asp-validation-for="AlmDescription" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="ObjId" class="control-label"></label>
                    <select asp-for="ObjId" class ="form-control" asp-items="ViewBag.ObjId"></select>
                </div>*@

            <div class="form-group">
                <label class="control-label label">Área</label>
                <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubId" class="control-label label"></label>
                <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
            </div>

            <div class="form-group">
                <label asp-for="PerId" class="control-label label"></label>
                <select asp-for="PerId" class="form-control input" asp-items="ViewBag.PerId"></select>
            </div>


            <div class="form-group">
                <center>
                    <input type="submit" value="Registrar" class="btn btn-secondary" />
                </center>
            </div>
        </form>
    </div>
</div>

<div>
    <center><a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}