﻿@model Monitor.Model.Alarms

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alarms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlmDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlmDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlmDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlmDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlmEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlmEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Obj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Obj.ObjId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Per)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Per.PerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlmId" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
