﻿@model Monitor.Model.Alarms

@{
    ViewData["Title"] = "Editar Alarma";
}

<center><h2 class="h2">Editar @Model.AlmDescription</h2></center>

<h4 class="h4">Alarmas</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlmId" />

            <div class="form-group">
                <label asp-for="AlmDescription" class="control-label label"></label>
                <input asp-for="AlmDescription" class="form-control input" />
                <span asp-validation-for="AlmDescription" class="text-danger"></span>
            </div>


            @*<div class="form-group">
                <label asp-for="ObjId" class="control-label"></label>
                <select asp-for="ObjId" class="form-control" asp-items="ViewBag.ObjId"></select>
                <span asp-validation-for="ObjId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label class="control-label label">Área</label>
                <select id="ComId" class="form-control input" asp-items="ViewBag.ComId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubId" class="control-label label"></label>
                <select asp-for="SubId" class="form-control input" asp-items="ViewBag.SubId"></select>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PerId" class="control-label label"></label>
                <select asp-for="PerId" class="form-control input" asp-items="ViewBag.PerId"></select>
                <span asp-validation-for="PerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <center><input type="submit" value="Guardar" class="btn btn-secondary" /></center> 
            </div>

        </form>
    </div>
</div>

<div>
    <center><a class="btn btn-primary" asp-action="Index">Regresar a la lista</a></center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}