﻿@model IEnumerable<Monitor.Model.Alarms>

@{
    ViewData["Title"] = "Alarmas";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Alarmas
    </div>
    <div class="card-body">

        <p>
            <a class="btn btn-secondary" asp-action="Create">Nueva alarma</a>
        </p>
        <br />
        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AlmDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlmDate)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Obj)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Per)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sub)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlmDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlmDate)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Obj.ObjDescription)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Per.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sub.SubDescription)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.AlmId">Editar</a>
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.AlmId">Detalles</a>
                            <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.AlmId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
<br />