﻿@model Monitor.Models.PhotoPerson

@{
    ViewData["Title"] = "Create";
}

<center><h2 class="h2">Fotos</h2></center>

<h4 class="h4">Nuevo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PerId" value="@ViewBag.PerId" />

            <div class="form-group">
                <label asp-for="UrlImage" class="control-label label"></label>
                <input type="file" name="files" accept="image/*" class="form-control input" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <center><input type="submit" value="Registrar" class="btn btn-secondary" /></center>
            </div>
        </form>
    </div>
</div>

<div>
    <center><a asp-action="Index" class="btn btn-primary" asp-route-id="@ViewBag.PerId">Regresar a la lista</a></center>
</div>