﻿@model Monitor.Models.PhotoPerson

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhotoPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.persistedFaceIds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.persistedFaceIds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personIdApi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personIdApi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRegister)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRegister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Per)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Per.PerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PhoId" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-action="Index" asp-route-id="@Model.PerId">Back to List</a>
    </form>
</div>