﻿@model IEnumerable<Monitor.Models.PhotoPerson>

@{
    ViewData["Title"] = "Fotos";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Fotos
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" asp-action="Create" asp-route-id="@ViewBag.id">Nueva foto</a>
        </p>
        <br />
        <table class="display nowrap" id="example" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Per)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UrlImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateRegister)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Per.FullName)
                        </td>
                        <td>
                            @if (item.UrlImage != null)
                            {
                                <img src="@item.UrlImage" class="img-fluid" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRegister)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.PhoId">Elimnar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <br />
            <center> <a asp-action="Index" class="btn btn-primary" asp-controller="People">Regresar</a></center>
        </div>
    </div>
</div>